<% @page_title = "UserAuth | Signup" %>

<div class = "Sign_Form">
	<h1>Sign Up</h1>
	
	<%= form_for(@user) do |f| %>	
		<p>Username : <%= raw @user.errors[:username].first %><br/>
			<%= f.text_field :username %></p>
		
		<p>Email : <%= raw @user.errors[:email].first %><br/>
			<%= f.text_field :email %></p>
		
		<p>Password : <%= raw @user.errors[:password].first %><br/>
			<%= f.password_field :password %></p>
		
		<p>Confirm Password :<%= raw @user.errors[:password].first %> <br/>
			<%= f.password_field :password_confirmation %></p>
		
		<%= f.submit :Signup%>
	<% end %>
</div>
